/* Contents of this file

    contiene el estilo propio de esta pagina

*/

/* empieza banner */
#banner {
    min-height: 100vh;
    padding: 80px 5% 25%;
}

    .banner-title-container {
        padding-bottom: 3%;
    }

        .banner-title-container p{
            font-weight: 300;
            font-size: 4.4vw;
            line-height: 130%;
            margin-bottom: 5px;
        }

        .banner-title-container h3{
            font-weight: 400;
            font-size: 5.32vw;
            line-height: 135%;
            margin-bottom: 2.5vw;

        }

    .banner-inputs-row1-container {
        display: flex;
        flex-direction: column;
    }

        .banner-cada-input-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 5.2vw;
        }

            .banner-cada-input-container span {
                font-weight: 400;
                font-size: 4.25vw;
            }

            .banner-cada-input-container input {
                outline: none;
                border: 2px solid rgb(0, 0, 0, .2);
                border-radius: 5px;
                padding: 1vw 1.85vw;
                font-weight: 300;
                font-size: 4.1vw;
                transition: .2s ease-in-out;
            }

                .banner-cada-input-container input:focus {
                    border-color: #232323;
                }
            .input-alert {
                padding-top: 4px;
                font-size: 4.25vw;
                color: #e74c3c;
            }

            .banner-captcha-container {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            

    .banner-inputs-row2-container {
        display: flex;
        flex-direction: column;
    }

        .banner-input-message-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 5.2vw;
        }

            .banner-input-message-container span {
                font-weight: 400;
                font-size: 4.25vw;
            }

            .banner-input-message-container textarea {
                resize: none;
                outline: none;
                border: 2px solid rgb(0, 0, 0, .2);
                border-radius: 5px;
                padding: .7vw 1.85vw;
                font-weight: 300;
                font-size: 4.1vw;
                transition: .2s ease-in-out;
            }

                .banner-input-message-container textarea:focus {
                    border-color: #232323;
                }

        .banner-captcha {
            margin-bottom: 18px;
        }

    .container-btn-banner {
        display: flex;
        padding-top: 2%;
    }

        .btn-ver-mas {
            font-size: 4.2vw;
            padding: 1.5vw 4.4vw;
        }

            .arrow_btn {
                margin-left: 4.5vw;
                width: 1.8vw;
            }

                
/* empieza Media queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* empieza banner */
    #banner {
        padding: 85px 5% 7%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner-title-container {
        padding-bottom: 1%;
    }

        .banner-title-container p{
            font-size: 2.1vw;
        }

        .banner-title-container h3{
            font-size: 3.6vw;
        }

    .banner-inputs-row1-container {
        flex-direction: row;
        justify-content: space-between;
        /* padding-bottom: 4%; */
    }

        .banner-cada-input-container {
            width: 31%;
        }

        .banner-cada-input-container {
            margin-bottom: 2.5vw;
        }

            .banner-cada-input-container span {
                font-size: 1.48vw;
            }

            .banner-cada-input-container input {
                padding: .7vw .85vw;
                font-size: 1.5vw;
            }
            .input-alert {
                font-size: 1.3vw;
            }

    .banner-inputs-row2-container {
        flex-direction: row;
        padding-bottom: 1%;
    }

        .banner-input-message-container {
            margin-right: 4%;
            margin-bottom: unset;
            width: 50%;
        }

            .banner-input-message-container span {
                font-size: 1.48vw;
            }

            .banner-input-message-container textarea {
                padding: .7vw .85vw;
                font-size: 1.5vw;
                height: 13vw;
            }

        .banner-captcha {
            display: flex;
            align-items: center;
            margin-bottom: unset
        }

    .container-btn-banner {
        padding-top: 2%;
    }

        .btn-ver-mas {
            font-size: 1.9vw;
            padding: .7vw 2.8vw;
        }

            .arrow_btn {
                margin-left: 2.5vw;
                width: .95vw;
            }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* empieza banner */
    #banner {
        padding: 108px 5% 7%;

        background-image: url('../images/contact/contact_bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        /* .banner-title-container {
            padding-bottom: 1%;
        } */

            .banner-title-container p{
                font-size: 1.4vw;
            }

            .banner-title-container h3{
                font-size: 2.7vw;
            }

            .banner-cada-input-container span {
                font-size: 1.3vw;
            }

            .banner-cada-input-container input {
                padding: .7vw .85vw;
                font-size: 1.3vw;
            }

            .input-alert {
                font-size: 1.1vw;
            }

            .banner-input-message-container {
                margin-right: 4%;
                margin-bottom: unset;
                width: 50%;
            }
    
                .banner-input-message-container span {
                    font-size: 1.3vw;
                }
    
                .banner-input-message-container textarea {
                    padding: .7vw .85vw;
                    font-size: 1.3vw;
                }
    
        .container-btn-banner {
            padding-top: 1%;
        }

            .btn-ver-mas {
                font-size: 1.4vw;
                padding: .55vw 1.5vw;
                /* font-size: 1.9vw;
                padding: .7vw 2.8vw; */
            }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .banner-title-container p{
        font-size: 1.32vw;
    }

    .banner-title-container h3{
        font-size: 1.83vw;
    }

    .banner-cada-input-container {
        width: 30%;
    }

        .banner-cada-input-container span {
            font-size: 1.25vw;
        }

        .banner-cada-input-container input {
            padding: .6vw .85vw;
            font-size: 1.1vw;
        }

        .banner-input-message-container span {
            font-size: 1.25vw;
        }

        .banner-input-message-container textarea {
            padding: .6vw .85vw;
            font-size: 1.1vw;
            height: 11vw;
        }
}