/* Contents of this file

    contiene el estilo propio de esta pagina

*/

/* empieza producto-seleccionado */
#producto-seleccionado {
    padding: 21% 5% 25%;
    /* background-image: none; */
    background-image: url('../images/bg_particles.svg');
    background-position: center;
    background-size: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.p-seleccionado-images-container {
    width: 100%;
}

    .p-seleccionado-main-image-container {
        display: flex;
        justify-content: center;
        background-color: #fff;
        position: relative;
        border: 2px solid rgb(0, 0, 0, .2);
        border-radius: 5px;
        margin-bottom: 6%;
    }
    
        .p-seleccionado-main-image {
            margin: 5% 0;
            width: 180px;
        }

        .p-seleccionado-expand-icon {
            position: absolute;
            right: 22px;
            bottom: 22px;
            width: 7%;
            opacity: .5;
            cursor: pointer;
            transition: .2s ease-in-out;
        }

            .p-seleccionado-expand-icon:hover {
                opacity: 1;
                transition: .2s ease-in-out;
            }

    .p-seleccionado-sub-image-conatiner {
        width: 60%;
    }

        .p-seleccionado-sub-individual-image-conatiner {
            background-color: #fff;
            margin-right: 1.5%;
            display: inline-block;
            width: 30%;
        }

            .p-seleccionado-sub-image {
                border: 2px solid rgb(0, 0, 0, .2);
                border-radius: 5px;
                opacity: .5;
                width: 100%;
                cursor: pointer;
                transition: .2s ease-in-out;
            }

            .p-seleccionado-sub-image:hover {
                opacity: 1;
                transition: .2s ease-in-out;
            }

            .p-seleccionado-sub-image.active {
                opacity: 1;
            }

    /* popup */
    .overlay-popup-img {
        background: rgba(0,0,0,.7);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 1235;
        visibility: hidden;
    }

    .overlay-popup-img.overlay-activated {
        visibility: visible;
    }

    .stop-scrolling {
        /* height: 100%; */
        overflow: hidden;
    }        

        .p-seleccionado-image-pop-up {
            transition: .3s ease all;
            transform: scale(0.7);
            opacity: 0;
            margin-top: 3%;
        }

        .p-seleccionado-image-pop-up.popup-activated {
            transform: scale(1);
            opacity: 1;
        }

            .p-seleccionado-image-pop-up-cerrar {
                position: absolute;
                top: -5%;
                right: -9%;
                cursor: pointer;
            }

                .p-seleccionado-image-pop-up-cerrar img{
                    width: 3vw;
                }

            /* .p-seleccionado-image-pop-up-previous {
                
            } */

            .p-seleccionado-image-pop-up-main-img {
                background-color: #fff;
                border: 2px solid rgb(0, 0, 0, .2);
                border-radius: 5px;
                cursor: zoom-in;
                height: 80%;
                min-width: 50%;
                text-align: center;
                padding: 1% 0;
            }

                .p-seleccionado-image-pop-up-main-img img{
                    height: 100%;
                }

            /* .p-seleccionado-image-pop-up-next {
                
            } */

    /* popup animaciones */
    .popup.active {	
        transform: scale(1); 
        opacity: 1; 
    }

/* parte derecha con descripcion del producto */
.p-seleccionado-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .p-seleccionado-name-container {
        font-weight: 700;
        font-size: 7.8vw;
        line-height: 120%;
        padding: 4% 0 3%;
        order: 1;
    }

    .p-seleccionado-detalles-container {
        padding-bottom: 5.2%;
    }

    .detalles-beneficios {
        order: 3;
    }

    .detalles-ingredientes {
        order: 4;
    }

    .detalles-uso {
        order: 5;
    }

    .detalles-extras-container {
        order: 6;
        display: flex;
    }

    .p-seleccionado-detalles-container.extras {
        display: inline-block;
        width: 45%;
    }

    .p-seleccionado-detalles-container span{
        font-weight: 600;
        font-size: 4.4vw;
    }

    .p-seleccionado-detalles-container p{
        font-weight: 300;
        font-size: 3.9vw;
    }

.btn-populares-container {
    order: 2;
    margin: 0 0 8vw;
    display: flex;
    justify-content: center;
}

    .btn-p-selected {
        font-size: 3.9vw;
        padding: 2.8vw 6.2vw;
    }

        .p-selected-arrow-btn {
            margin-left: 5.2vw;
            width: 1.8vw;
        }

                
/* empieza Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* empieza producto-seleccionado */
    #producto-seleccionado {
        background-image: url('../images/bg_productos.png');
        background-repeat: repeat-y;
        background-size: contain;
        padding: 10% 9% 5%;
    }

        .p-seleccionado-images-container {
            width: 40%;
        }

            /* .p-seleccionado-main-image-container {
            } */

                .p-seleccionado-main-image {
                    width: 270px;
                }

                .p-seleccionado-expand-icon {
                    right: 22px;
                    bottom: 22px;
                    width: 7%;
                }

            .p-seleccionado-sub-image-conatiner {
                width: 60%;
            }

                .p-seleccionado-sub-individual-image-conatiner {
                    margin-right: 1.5%;
                    width: 30%;
                }

                    .p-seleccionado-sub-image {
                        width: 100%;
                    }

            /* popup */
            .overlay-popup-img {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

                .p-seleccionado-image-pop-up {
                    transform: scale(0.7);
                    opacity: 0;
                    margin-top: 3%;
                }

                .p-seleccionado-image-pop-up.popup-activated {
                    transform: scale(1);
                    opacity: 1;
                }

                    .p-seleccionado-image-pop-up-cerrar {
                        top: -5%;
                        right: -9%;
                    }

                        .p-seleccionado-image-pop-up-cerrar img{
                            width: 3vw;
                        }

                    /* .p-seleccionado-image-pop-up-previous {
                        
                    } */

                    .p-seleccionado-image-pop-up-main-img {
                        height: 80%;
                        min-width: 50%;
                        padding: 1% 0;
                    }

                        .p-seleccionado-image-pop-up-main-img img{
                            height: 100%;
                        }

                    /* .p-seleccionado-image-pop-up-next {
                        
                    } */

            /* popup animaciones */
            .popup.active {	
                transform: scale(1); 
                opacity: 1; 
            }

        /* parte derecha con descripcion del producto */
        .p-seleccionado-info-container {
            width: 54%;
        }

            .p-seleccionado-name-container {
                font-size: 2.7vw;
                padding-bottom: 4%;
            }

            .p-seleccionado-detalles-container {
                padding-bottom: 3%;
            }

                .p-seleccionado-detalles-container.extras {
                    width: 45%;
                }

                .p-seleccionado-detalles-container span{
                    font-size: 1.24vw;
                }

                .p-seleccionado-detalles-container p{
                    font-size: 1.1vw;
                }

            .btn-populares-container {
                padding-top: 2%;
            }

                .btn-p-selected {
                    font-size: 3.9vw;
                    padding: 2.8vw 6.2vw;
                }
                    .arrow_btn {
                        margin-left: 1.5vw;
                        width: 2.05vw;
                    }

}