/* Contents of this file

    contiene el estilo propio de esta pagina

*/

/* empieza banner */
#banner {
    padding: 80px 5% 25%;
}

    .banner-title-container {
        padding-bottom: 2%;
    }

        .banner-title-container p {
            font-weight: 300;
            font-size: 4.6vw;
            line-height: 130%;
        }

        .banner-title-container h3 {
            font-weight: 700;
            font-size: 7.6vw;
        }

    .banner-img-and-desc-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

        .banner-img-and-desc-container img {
            width: 100%;
            margin-bottom: 5vw;
        }

        .banner-img-and-desc-container p {
            font-weight: 400;
            font-size: 4.3vw;
            line-height: 200%;
            width: 100%;
        }

/* empieza objetivos */
#objetivos {
    padding: 10% 7% 12%;
}

    .objetivos-title-container {
        text-align: center;
        padding-bottom: 7%;
    }

        .objetivos-title-container p {
            font-weight: 300;
            font-size: 4.6vw;
            line-height: 130%;
        }

        .objetivos-title-container h3 {
            font-weight: 700;
            font-size: 7.6vw;
        }

    .objetivos-cajas-container {
        display: flex;
        flex-direction: column;
    }

    .objetivos-cada-caja-container {
        border: 2px solid rgb(0, 0, 0, .2);
        border-radius: 5px;
        background-color: #fff;
        text-align: center;
        width: 100%;
        height: 42vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 9.5% 0;
        margin-bottom: 10vw;
    }

        .objetivos-cada-caja-img-container {
            width: 25%;
        }

            .objetivos-cada-caja-img-container img {
                width: 100%;
                padding: 13%;
            }

        .objetivos-cada-caja-container span {
            font-weight: 400;
            font-size: 4.28vw;
        }

/* empieza info-extra */
#info-extra {
    padding: 6% 7% 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

    #info-extra span {
        width: 100%;
        font-weight: 400;
        font-size: 4.3vw;
        margin-bottom: 20px;
    }

    .info-extra-img {
        display: none;
    }

    .info-extra-img-movil {
        display: block;
        width: 100%;
    }


/* empieza Media queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* empieza banner */
    #banner {
        padding: 85px 5% 7%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .banner-title-container {
        padding-bottom: 2%;
    } */

        .banner-title-container p{
            font-size: 2.1vw;
        }

        .banner-title-container h3{
            font-size: 3.6vw;
        }


    .banner-img-and-desc-container {
        flex-direction: row;
    }

        .banner-img-and-desc-container img {
            width: 40%;
            margin-bottom: unset;
        }

        .banner-img-and-desc-container p {
            width: 55%;
            font-size: 2.1vw;
        }

    /* empieza objetivos */
    #objetivos {
        padding: 5% 7% 7%;
    }

        /* .objetivos-title-container {
            padding-bottom: 5%;
        } */

            .objetivos-title-container p{
                font-size: 2.1vw;
            }

            .objetivos-title-container h3{
                font-size: 3.6vw;
            }

        .objetivos-cajas-container {
            justify-content: space-between;
            flex-direction: row;
        }
    
            .objetivos-cada-caja-container {
                width: 26vw;
                height: 17.5vw;
                padding: 0 2.5% 0;
                margin-bottom: unset;
            }
    
                .objetivos-cada-caja-img-container {
                    
                }
    
                .objetivos-cada-caja-container span {
                    font-size: 1.7vw;
                }

    /* empieza extras */
    #info-extra {
        padding: 6% 7% 10%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        #info-extra span {
            width: 45%;
            margin-bottom: unset;
            font-size: 2.1vw;   
        }

        .info-extra-img-movil {
            display: none;
        }

        .info-extra-img {
            display: block;
            width: 55%;
        }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #banner {
        min-height: 100vh;
        padding: 9% 5% 10%;
        background-image: url('../images/us/us_bg_banner.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

        .banner-title-container p{
            font-size: 1.4vw;
        }

        .banner-title-container h3{
            font-size: 2.7vw;
        }

        .banner-img-and-desc-container p {
            font-size: 1.9vw;
        }

    /* empieza objetivos */
    #objetivos {
        padding: 10% 7% 10%;
        background-image: url('../images/us/us_bg_objetivos.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .objetivos-title-container p{
            font-size: 1.4vw;
        }

        .objetivos-title-container h3{
            font-size: 2.7vw;
        }

        .objetivos-cada-caja-container {
            height: 16vw;
        }

            .objetivos-cada-caja-container span {
                font-size: 1.5vw;
            }

    /* empieza extra */
    #info-extra span {
        font-size: 1.9vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* empieza banner */

        .banner-img-and-desc-container p {
            font-size: 1.7vw;
        }

    /* empieza objetivos */
    #objetivos {
        /* un poco mas estrecho para quese vean
        los dibujos en los bordes */
        padding: 10% 9% 10%;
    }

        .objetivos-title-container {
            padding-bottom: 5%;
        }
            .objetivos-cada-caja-container {
                width: 25vw;
            }
}